h1{
    color: $primaryColor;
}
// .withintro{
//     height: calc(100vh - 90px - 160px);
// }

.Fullversion2{
    height: calc(100vh - $nav-height - 138px);
    @media(max-width:767px){
        height: calc(100vh - $nav-height);
    }  
}
section,nav{
    margin: 0 auto;
    @media(max-width:767px){
        max-width: 767px;
        margin: 0 auto;
    }
}
.hidden{
    overflow: hidden;
}

//沒有用aos，就沒有x軸 
   
// ？？疑問
// 您好，我想請問：為什麼我一加入aos，畫面就會出現x軸？有在作業討論區發問，有同學說用aos的地方用overflow，我試了但還是沒辦法避免這個問題。不知道是為什麼？不知道是不是我哪裡有搞錯的地方

// 遇到的問題是首頁index頁面，剛載入時由上往下會出現x軸，但由下（footer）往上滑時，Ｘ軸就會消失。

// 在作業討論詢問後，有人解答是因為aos的transform問題，可以使用overflow解決，但我改完後還是會出現，然後滑鼠拖曳到成功案例那四個人的時候又會消失x軸，只有把aos全拿掉才能解決，不曉得該怎麼辦？

// 另外，我有附上兩個一個有aos、一個aos+hidden的版本在repo，
// 檔名分別是index2.html（加入aos版本），和index3（加入aos搭配overflow:hidden的版本）
// 希望助教可以撥冗回應，因為未來也很想使用aos在專案中，所以很想弄懂，怕之後遇到不知道怎麼解決，謝謝您Ｔ0Ｔ

// 另外還想請問閱讀內文和啟動訂閱這兩個按鈕html用a標籤比較好還是button? 
// 謝謝您

.hero-intro{
    width: 100%;
    margin-top: -202px;
    margin-left: -80px;
    display: flex;
    @media(max-width:767px){
        // margin-top: 10px;
        margin: 0;
        padding: 0 12px;
    }
    .none{
        width: calc(100% - 1077px);
        // background: darkblue;
    }
    //使用vw會出現x軸，通常寬度使用100%，盡量不要使用vw，通常使用vh
    &-text{
        max-width: 1077px;
        background-color: #fff;
        padding: 80px 40px;
        @media(max-width:767px){
            max-width: 767px;
           
        }
            
    }
    
    p{
        font-weight: $fontweight-S;
        font-size: $fontsize-XL;
        margin-bottom: 16px;
    }
    .icon{
        margin-right: 4px;
    }
}

.service{
    max-width: 1296px;
    margin: 0 auto;
    padding: 80px 0;
    @media(max-width:767px){
        padding: 64px 12px;
    }
    h3{
        color: $defaultColor;
        margin-top: 0;

    }
    p{
        margin-top: 8px;
        font-weight: $fontweight-S;
        color: $SecondColor;
    }
    a{
        display: block;
        &:hover{
            h3,svg{

                color: $primaryColor;
            }
        }

        h3{        
            text-align: right;
        }
        svg{
            vertical-align: middle;
        }
    }
    .servicelist{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 32px 0;
        @media (max-width:767px) {
            display: block;
        }
        &-left{
            flex-direction: row-reverse;
        }
    }
    //客制樣式
    &-pic{
        max-width: 636px;
        @media(max-width:767px){
            max-width: 767px;
        }
    }
    &-intro{
        max-width: 480px;
        //疑問：這裡有需要用到max-width嗎？
        height: 186px;
        padding: 24px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        @media(max-width:767px){
            padding: 80px 40px;
            height: auto;
        }
        svg{
            width: 40px;
            color: $primaryColor;
        }
        @media(max-width:767px){
            max-width: 767px;
        }
    }
}
.intro-right{
    margin-left: -40px;
    @media(max-width:767px){
        margin: 0;
    }
}
.intro-left{

    margin-right: -40px;
    @media(max-width:767px){
        margin: 0;
    }
    
}

.bloglist{
    max-width: 1296px;
    margin: 0 auto;
    padding: 80px 0;
    border-top: 1px solid #000;
    h2{
        padding: 12px;
    }
    &-turn{
        display: flex;
        align-items: center;
        gap: 15px;

    }

}
.ontop{
    // margin: 0 auto;

    margin-left: -50px;
    // margin-top: -400px;
    width: 1380px;
    display: flex;
    justify-content: space-between;
}   
.ooo{
    display: none;
    @media(max-width:767px){
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 12px;
        padding: 0 12px;
    }


}

@media (max-width:767px){
    .disappear{
        display: none;
    }
}

.case{
    border-top: 1px solid #000;
    padding: 80px 12px;

    &-title{
        display: flex;
    }
    &-banner{
        display: flex;
        @media(max-width:767px){
            display: block;
        }

    }
    &-pic{
        max-width: 745px;
        padding: 24px;
        background: #EDEDED ;
        margin-top: 24px;
        @media (max-width:767px){
            margin: 0;
            max-width: 767px;
        }
        
        
    }
    &-intro{
        p{
            font-weight: $fontweight-M;
            margin-top: 24px;
        }
        // width: ;
        svg{
            width: 40px;
            color: $primaryColor;
        }
        
        &-head{
            max-width: 526px;
            height: 50%;
            margin-top: 29px;
            margin-left: -219px;
            background-color: #fff;
            padding: 80px 40px;
            @media (max-width:767px){
                margin: 0;
                max-width: 767px;
                padding: 40px 24px;
            }
            
            
        }
        &-foot{
            max-width: 526px;
            margin-top: -58px;
            margin-left: 24px;
            height: 50%;
            background-color: #F5F5F5;
            padding: 80px 40px;
            @media (max-width:767px){
                margin: 0;
                max-width: 767px;
                padding: 40px 24px;
            }
            .btn{
                margin-top: 24px;
            }
        }
    }
    h4{
        font-weight: $fontweight-M;
        color: $defaultColor;
        margin-top: 16px;
    }
    &-group{
        // width: 1296px;
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        // gap: 24px;
        padding: 0 12px;
        background: #F5F5F5;
        margin-top: 40px;
        &-list{

            width: 23%;
            margin: 24px 12px;

            @media (max-width:767px){
                width: 100%;
            }
            img{
                width: 80px;
            }
            ul{
                padding-bottom: 16px;
                border-bottom: solid 1px #000;
            }
        }
        .btn{
            margin-top: 16px;
        }
    }
    &-text{
        margin-top: 8px;
        font-weight: $fontweight-S;
        gap: 8px;
        color: $SecondColor;
        svg{
            color: $primaryColor;
        }
    }


}

.subscript{
    // margin: 0 auto;
    display: flex;
    @media (max-width:767px){
        flex-direction: column;
        // display: block;
    }

    &-pic{
        // height: calc(100vh-10px);
        width: 50%;        
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/photo9.png?raw=true');
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        
        @media (max-width:767px){
            width: 100%;
            height: 70vh;
        }
 
    }
    &-bg{
        width: 50%;
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true');
        display: flex;
        justify-content: center;
        align-items: center;

        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        padding: 80px;
        @media (max-width:767px){
            width: 100%;
            
        }
    }
    
    &-sheet{
        background-color: #fff;
        width: 100%;
        padding: 80px 40px;
        margin: 172px 80px;
        @media (max-width:767px){
            padding: 40px 24px;

            h2{
                font-size: $fontsize-L*2;
            }
        }
        p{
            font-size: $fontsize-M;
            font-weight: $fontweight-S;
            margin-top: 16px;
        }

    }
    &-input{
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 24px;
        &-text{
            max-width: 640px;
            padding: 8px 16px;
            font-size: $fontsize-M;
            border: none;
            background: #F1F1F1;
        }
        
    }
    &-btn{
    display: inline-block;
    font-weight: $fontweight-M;
    padding: 8px 16px;
    border: solid 1px $primaryColor;
    border-radius: 40px;
    margin-top: 24px;
    &:hover{
        background-color: $primaryColor;
        color: #fff;
    }
    }
}

.contactme{
    max-width:1296px ;
    margin: 0 auto;
    padding: 80px 0;
    @media (max-width:767px){
        padding: 80px 12px;
    }
    .icon-text{
        font-weight: $fontweight-S;
        font-size: $fontsize-XL;        
        color: $defaultColor;   
    }
    .contactme-icon{
        color: $primaryColor;
    }
    .contact-email{
        color:$primaryColor
    }
    &-list{
        &-link{
            padding: 17px 8px;
            border-bottom: solid 1px #000;
            &:hover{
                // background:$primaryColor;
                .icon-text,.contactme-icon,.gotopage,a,.contact-email{
                    color: #fff;

                }
            }

            &-icon{
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media (max-width:767px){
                    flex-direction: column;
                    align-items: flex-start;
                }

 
            }
        }
    }
}





// Page of blog
.Fullversion{
    height: calc(100vh - $nav-height);
}
.hero{
    display: flex;
    // width: 100%;
    &-pic{
        width: 50%;
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/index/Hero%20Section.png?raw=true');
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        // position: relative;
        background-position: center;
    }
    &-text{
        width: 50%;
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/index/Hero%20Section2.png?raw=true');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        align-items: center;
        // position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start; 
        padding-left: 80px;   
    }
    @media(max-width: 767px){
        display: block;
        &-pic{
            width: 100%;
            height: calc(100vh - $nav-height - 180px);
        }
        &-text{
            width: 100%;
            padding: 24px 0 24px 24px;
        }
    }
    
}

// .serch{
//     max-width: 1296px;
//     margin: 0 auto;
// }
.serch-group{
    width: 416px;
    border: 1px solid #000;
    padding: 16px;
    border-radius: 40px;
    display: flex;
    margin-top: 80px;
    // align-items: center;
    .serch-icon{
        width: 24px;
        height: 24px;
    }
    .serchtext{
        max-width: 318px;
        padding-right: 32px;
        border: none;
        // text-decoration: none;
        // font-weight: $fontweight-S;
    }
}

.card-list{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        @media(max-width:767px){
            display: block;
        }
        .card{
            width: 31%;
            @media(max-width:962px){
                width: 48%;
                
            }
            @media(max-width:767px){
                width: 100%;
                
            }

            padding: 40px 0;
            &-text{
                margin-top: 16px;
            }
            h3{
                margin-top: 0px;
                color: #000;
            }
            p{
                margin-top: 8px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; //設定出現幾行
                overflow: hidden;
               
            }
            .oneline{
                margin: 16px 0;
                -webkit-line-clamp: 1;
            }
            .btn{
                color: $SecondColor;
                margin-top: 16px;
                &:hover{

                    color: #fff;
                  }
            }
        }

    @media(max-width:962px){
        // max-width: 375px;
        .card-list{
            // padding: 0 12px;
            justify-content: space-around;
            .card{
                width: 44%;
            }
        }
    }
    @media(max-width:767px){
        // max-width: 375px;
        .card-list{
            padding: 0 12px;
            .card{
                width: 100%;
            }
        }
    }
}

.choose-page{
    // margin: 0 auto;
    display: flex;
    justify-content: center;

}
.page-list{        
    display: flex;
    justify-content: center;
    // align-items: center;
    margin: 8px 10px;
    li{
        align-items: center;
        display: flex;
        a{
            width: 40px;
            text-align: center;
// background-color: #6C757D;
            color: $SecondColor;
            display: inline-block;
            font-weight: $fontweight-S;
            &:hover{
                color: $primaryColor;
            }
        }

    }
}





// page of blog article
.moble-pic{
    display: none;
}
@media(max-width:767px){
    .moble-pic{
        display: block;
    }
    .pc-pic{
        display: none;
    }
}
.articleN{
    display: flex;
    align-items: center;
    gap: 24px;
    border-top: $divider;
    border-bottom: $divider;
    &-pic{
        width: 50%;
    }
    &-text{
        width: 50%;
        padding: 48px 12px;
        .article-title{
            font-size: $fontsize-XL;
            font-weight: $fontweight-M;
            color: #000;
            margin-top: 8px;
        }
        p{
            margin-top: 8px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; //設定出現幾行
            overflow: hidden;
        }
        .btn{
            margin-top: 16px;
            &:hover{
              background-color: $primaryColor;
              border: 1px solid $primaryColor;  
              color: #fff;
            }
        }
    }
}
@media(max-width:767px){
    .articleN{
        display: block;
        &-pic{
            width: 100%;
        }
        &-text{
            width: 100%;
        }
    }
}

article{
    max-width: 636px;
    margin: 0 auto;
    .pc-pic, .moble-pic{
        margin-top: 48px;
    }
    p{
        margin-top: 12px;
        font-weight: $fontweight-S;
    } 
    .total{
        padding: 24px;
        background: #EDEDED;
        border-radius: 24px;
        font-weight: $fontweight-M;
        margin-top: 24px;
    }
    .article-end, .article-head{
        p{
            margin-top: 24px;
        }
    }
    // overflow: auto;
    ul,ol{
        padding-top: 12px;
        li{
            list-style-position:inside;
            // 避免項目符合跑出容器
            list-style-type: disc;
        }
    
    }
    ol{
        li{
            list-style-type: decimal;
        }
    }


}

@media(max-width:767px){
    article{
        max-width: 636px;
        padding: 64px 12px;
        // border-top: $divider;
        // border-bottom: $divider;
    }
}

.page-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    .article-btn{
        padding: 8px 16px;
        border: solid 1px $SecondColor;
        border-radius: 60px;
        a{
            color: $SecondColor;
        }
    }
}


.contact{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    padding: 80px;
    border-top: 1px solid #6C757D;
    .email{
        font-size: $fontsize-XXL;
    }
}
@media(max-width:767px){
    .contact{
        display: none;
    }
}
.icon{
    width: 24px;
    gap: 4px;
    .bi-broadcast-pin{
        background-color: $primaryColor;
        color: white;
        border-radius: 3px;
    }
}
