$primaryColor:#0027D5;
$defaultColor:#000;
$SecondColor:#4B4B4B;

$fontweight-B:900;
$fontweight-M:700;
$fontweight-S:500;

$fontsize-XXXL:120px;
$fontsize-XXXL-mb:56px;
$fontsize-XXL:32px;
$fontsize-XL:28px;
$fontsize-L:24px;
$fontsize-M:20px;
$fontsize-Default:16px;

$divider: 1px solid #6C757D;


$nav-height:90px;